.loader{
    margin-top: 15px;
    background-image: url('mg.png') ;
    background-size: cover;
    animation: spin 2s linear infinite;
    height: 60px;
    width: 60px;
    /* border: 2px solid black; */
}



@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.box1{
    position: relative;
    background-color: #4caf50;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
   
}

  .messageFalse::before {
    content: "Incorrect Password !!";
    color: rgb(255, 255, 255);
  }

  .messageFalse2::before {
    content: "something went wrong plz try later !!";
    color: rgb(255, 255, 255);
  }

  .messageFalse3::before {
    content: "User does not exist !!";
    color: rgb(255, 255, 255);
  }